<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RateMyLandlord{% endblock %}</title>
    {% load staticfiles %}
    {% load compress %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {% compress css %}
    <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/style.less' %}" />
    {% endcompress %}
</head>
<body>
<nav class="header-background navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="margin-top:-3px;">RateMyLandlord</a>
      </div>
      <div id="nav-collapse" class="navbar-collapse collapse"
            style="border: 0px none; height: 0px;">
        <ul class="nav navbar-nav navbar-left">
          <li class="">
            <a href="#">About</a>
          </li>
          <li class="">
            <a href="{% url 'main:search' %}">Search</a>
          </li>
          <li class="">
            <a href="#">Review</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
  {% block content %}

  {% endblock  %}
  </div>
</body>
</html>